:root{
--White:hsl(0, 0%, 100%);
--Lightpink: hsl(275, 100%, 97%);
--Grayishpurple: hsl(292, 16%, 49%);
--Darkpurple: hsl(292, 42%, 14%);
--blue:hsl(179,50%,30%);


}

body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;

}
picture{
    width:100%;
    
    padding: 0px;
    margin: 0%;
    position: relative;
    
}
picture img{
    width: 100%;
}
main{
    width: 50%;
    
    background-color:var(--White);
    position: absolute;
    top:50px;
    left: 20%;
    border-radius: 7px;
    
    

}
.question{
padding-left: 15px;
}
 h1{
    visibility: visible;
  
 }
 .answer{
    visibility:hidden;
 }

 span{
    float: right;
    padding-right: 15px;
 }
 h1{
    padding-left: 30px;
   
}
h1{
    display: flex;
    gap: 15px;
    
}
.icon-star{
    float: left;
    width: 20px;
    
    
    
}

